.add-me-button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #f0ad4e;
    color: #eee;
    padding: 9px 20px 9px 20px;
    border-right: 1px solid #337ab7;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #a94442;
    display: inline-block;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 7px;
    float: right;
    display: inline-block;
}