{% extends 'layout.html' %}
{% load static %}
{% block content %}
<hr style="height:0px;border-width:3px;color:#0A82EC;background-color:#0A82EC">
<br>
<br>
<br>

<section class="contact" id="contact">
    <h2 class="text-center">Job Details</h2>
    {% if message %}
        <p class="alert alert-success" id="success_message">{{ message }}</p>
    {% endif %}
    {% if error_message %}
        <p class="alert alert-danger" id="error_message">{{ error_message }}</p>
    {% endif %}

    <div class="form">
        <form name="addJobForm" action="/add_job/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter your name" required>
            <input class="form-input" type="text" name="primary_contact_number" id="primary_contact_number" placeholder="Enter your phone" maxlength="10" required >
            <textarea class="form-input" name="description" id="description" cols="30" rows="10" placeholder="Job description"></textarea>

            <select class="drop-down" name="area" multiple="multiple" required>
                {% for area in area_list %}
              <option value="{{ area }}">{{ area }}</option>
              {% endfor %}
             </select>

             <div class="row">
              </div>

            <button id="submit" type="submit" value="Submit" class="btn btn-sm btn-dark">Submit</button>
        </form>
        <br><br>
    </div>
</section>

<br>
<br>
<hr style="height:2px;border-width:0;color:#0A82EC87;background-color:#0A82EC87">
{% endblock %}