{% extends 'layout.html' %}
{% load paginator_templatetags %}
{% load static %}
{% block content %}

<section class="background firstSection">
    <dev class="box-main">
        <dev class="firstHalf">
            <p class="text-big" style="color:gold;">Nothing lights up our mood like good food.</p>
            <p class="text-small">
                <br>
                <br>
                Hello there!, having a cook is so much relief 
                but finding one, uff it's pain in the ass. 
                <br>
                <br>
                What if there is cook portal and search them. 
                You can search cook in your area instead of going through over all areas.
                This sounds amazing and cool. 
                <br>
                <br>
                No longer look up on Social cook comunity, pain of going through thousands of posts 
                and comments to find a right one matching our requirements. ,
                <!-- filter based on area 
                but results show mixed area cooks.  -->
                <br>
                <br>
                <!-- <p style="color:yellow;"> -->
                Here, I am Sadhana, I felt this is a pain for a simple thing. 
                Here you can search cooks over all the bangalore.
                Filter based on your area.  SIMPLE :)
            </p>
            
            

            <!-- <div class="buttons">
                <button class="btn">Subscriber</button>
                <button class="btn">Check Cook List</button>
            </div> -->
        </dev>
        <dev class="secondHalf">
            <img src="/media/images/logo_yellow_cap.jpg" alt="Cortoon">
        </dev>
        
    </dev>
</section>


<section class="contact" id="contact">
    <h2 class="text-center">Contact Us</h2>
    <div class="form">
        <p class="text-small">
            Email : sadhanaj28@gmail.com
            <br>

            Phone No: 6388994870
            <br>
            <br>
        </p>
        <p style="color:red;">
            
            <br>
            <br>
                Caution : Please verify/check_Adhar_card before hiring cook. Stay Safe n Stay Happy
            </p>
        <!-- <input class="form-input" type="text" name="name" id="name" placeholder="Enter your name">
        <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter your phone">
        <input class="form-input" type="email" name="email" id="email" placeholder="Enter your email">
        <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate your concern"></textarea>
        <button class="btn btn-sm btn-dark">Submit</button> -->
    </div>
</section>
  

{% endblock %}