<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/style.css'%}" type="text/css">
    <title>CookDukan</title>
</head>

<body>

  <nav class="navbar background h-nav-resp">
    <ul class="nav-list v-class-resp">
        <div class="logo"><img src="/media/images/logo_yellow_cap.jpg" alt="logo"></div>
        <li> <a href="{% url 'home_url' %}">Home</a> </li>
        <li> <a href="{% url 'cooklist_url' %}">Find Cook</a> </li>
        <li> <a href="{% url 'cook_job_url' %}">Find Job</a> </li>
        <li>
          <div class="dropdown-main">
            <button class="dropbtn">Accounts 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-sub">
              <a href="{% url 'user_settings_url' %}">Personal Settings</a>
              <a href="{% url 'cook_settings_url' %}">Add Cook</a>
              <a href="{% url 'job_settings_url' %}">Add Vacancy</a>
            </div>
          </div> 
    </ul>
    <nav class="rightNav v-class-resp">
      <ul class="nav-list2 v-class-resp"> 
        {% if request.session.user_id %}
        <li> <a href="{% url 'logout_url' %}">Logout</a> </li>
        {% else %}
        <li> <a href="{% url 'login_url' %}">Login</a> </li>
        <li> <a href="{% url 'signup_url' %}">SignUp</a> </li>
        {% endif %}
    </ul>
    </nav>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
  </nav>

  {% block content %}
  
  {% endblock %}



<footer class="background">
  <p class="text-footer">Copyright &copy; 2027 www.cookdukan.com - All rights reserved</p>
</footer>
<script src="{%static '/js/resp.js'%}"></script> 
</body>
</html>
