<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Cook Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url({% static 'images/cook_dashboard.jpeg' %}); background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'dashboard_url' %}" style="color: gold; font-size: x-large;">HOME</a>
    </div>

    <form class="navbar-form navbar-left" action="/cook/dashboard/" method="GET">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by name" name="search_by" value="">
      </div>
      <input type="submit" class="btn btn-warning"/>
    </form>

    <ul>
      <li><a href="/cook/add_cook/" class="add-me-button"><span class="glyphicon glyphicon-user"></span>Add me as Cook</a></li>
    </ul>
  </div>
</nav>
<div class="container"><p style="color: white;">helloooooo</p></div>

<div class="container" style="background-color: rgb(111, 88, 84);">

  {% block content %}{% endblock %}
</div>

<div style="height: 50px;"></div>
<div class="footer" style="background-color: black; height: 50px;">
</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
</footer>
</body>
</html>
