{% extends 'layout.html' %}
{% load static %}
{% block content %}

<hr style="height:0px;border-width:3px;color:#0A82EC;background-color:#0A82EC">

<section class="section">
  {% if message %}
    <p class="alert alert-success" id="success_message">{{ message }}</p>
  {% endif %}
</section>
<p class="section sectionTag text-big">Personal Details</p>

<section class="contact" id="contact">
  <hr style="height:1px;border-width:0;color:#0a82ec5e;background-color:#0a82ec5e">
  {% if error_message %}
      <p class="alert alert-danger" id="error_message">{{ error_message }}</p>
  {% endif %}
  <div class="form">
    <p class="sectionTag text-small">First Name: {{ user_details.first_name }}</p><br>
    <p class="sectionTag text-small">Middle Name: {{ user_details.middle_name }}</p><br>
    <p class="sectionTag text-small">Last Name: {{ user_details.last_name }}</p><br>
    <p class="sectionSubTag text-small"> Phone: {{ user_details.phone_number }}</p><br>
    <p class="sectionSubTag text-small">Email: {{ user_details.email }}</p><br>
    <a href="{% url 'user_update_url' %}">
    <button type="submit" class="btn btn-dark button1">Change</button>
    </a>
  </div>
  <hr style="height:1px;border-width:0;color:#0a82ec5e;background-color:#0a82ec5e">
</section>

<br>
<br>
<br>
<hr style="height:0px;border-width:1px;color:#0A82EC;background-color:#0A82EC">
{% endblock %}