{% extends 'layout.html' %}
{% load static %}
{% block content %}

<section class="contact" id="contact">
    <h2 class="text-center">Registration</h2>
    {% if message %}
        <p class="alert alert-success" id="success_message">{{ message }}</p>
    {% endif %}
    {% if error_message %}
        <p class="alert alert-danger" id="error_message">{{ error_message }}</p>
    {% endif %}

    <div class="form">
        <form name="addCookForm" action="/add_cook/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Personal Details</h3>
            <input class="form-input" type="text" name="firstname" id="name" placeholder="Enter your name" required>
            <!-- <input class="form-input" type="text" name="gender" id="gender" placeholder="Enter your gender" required> -->
            <select id="gender" name="gender" class="form-input" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            <input class="form-input" type="text" name="pancard" id="pancard" placeholder="Enter your ADHAR CARD number" required >
            <input class="form-input" type="text" name="primary_contact_number" id="primary_contact_number" placeholder="Enter your phone" required >
            <input class="form-input" type="text" name="secondary_contact_number" id="secondary_contact_number" placeholder="Enter your secondary phone"  >
            <input type="file" id="profile_photo" name="profile_photo" accept="image/*" required>
            <textarea class="form-input" name="description" id="description" cols="30" rows="10" placeholder="Ellaborate your concern"></textarea>
            
            <select id="north_indian_food" name="north_indian_food" class="form-input" required>
                <option value="Yes">Yes, Cooks North Indian Food</option>
                <option value="No">No, don't cook North Indian Food</option>
            </select>
            <select id="south_indian_food" name="south_indian_food" class="form-input" required>
                <option value="Yes">Yes, Cooks South Indian Food</option>
                <option value="No">No, don't cook South Indian Food</option>
            </select>
            <select id="chinees_food" name="chinees_food" class="form-input" required>
                <option value="Yes">Yes, Cooks Chines Food</option>
                <option value="No">No, don't cook Chines Indian Food</option>
            </select>

            <select class="drop-down" name="area" multiple="multiple" required>
                {% for area in area_list %}
              <option value="{{ area }}">{{ area }}</option>
              {% endfor %}
             </select>
            

             <div class="row">
                <br><br>
              <input type="checkbox" name="terms" id="terms" value="Yes" required> <b>I accept the policy and giving the right to use my provided data for this business.</b>
              <br><br>
              </div>
            

            <button id="submit" type="submit" value="Submit" class="btn btn-sm btn-dark">Submit</button>
        </form>
    </div>
</section>

{% endblock %}