{% extends 'layout.html' %}
{% load static %}
{% block content %}

<hr style="height:0px;border-width:3px;color:#0A82EC;background-color:#0A82EC">

<section class="section">
    {% if error_message %}
        <p class="alert alert-danger" id="error_message">{{ error_message }}</p>
    {% endif %}
</section>
<p class="section sectionTag text-big">Update Personal Details</p>

<section class="contact" id="contact">
    <hr style="height:1px;border-width:0;color:#0a82ec5e;background-color:#0a82ec5e">
    <div class="form">
        <form name="userUpdateForm" action="{% url 'user_update_url' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-input" type="text" name="first_name" id="first_name" placeholder="Enter your first name" required>
            <input class="form-input" type="text" name="middle_name" id="middle_name" placeholder="Enter your middle name" required>
            <input class="form-input" type="text" name="last_name" id="last_name" placeholder="Enter your last name" required>
            <input class="form-input" type="text" name="phone_number" id="phone_number" placeholder="Enter your phone" maxlength="10" required >
            <input class="form-input" type="text" name="email" id="email" placeholder="Enter your email" >
            <button id="submit" type="submit" value="Submit" class="btn btn-dark button1">Update</button>
        </form>
        <br><br>
    </div>
    <hr style="height:1px;border-width:0;color:#0a82ec5e;background-color:#0a82ec5e">
</section>

<br>
<br>
<br>
<hr style="height:0px;border-width:1px;color:#0A82EC;background-color:#0A82EC">
{% endblock %}